.error-handler-warning {
	display: block;
	width: 100%;
	background: black;

	@include box-sizing(border-box);

	.error-handler-warning-message {

	}

	.error-handler-warning-file-line {
		.error-handler-warning-file {

		}

		.error-handler-warning-line {

		}
	}
}