/**
 * Import compass utilities
 */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Include global constants
 */
/* No files to import found in functions/** */
@keyframes shake-opacity {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
  10% {
    -webkit-transform: translate(-4px, 1px) rotate(-1.5deg);
    opacity: 0.1;
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-2.5deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: translate(-3px, -5px) rotate(-1.5deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translate(-5px, -2px) rotate(1.5deg);
    opacity: 0.4;
  }
  70% {
    -webkit-transform: translate(-1px, 3px) rotate(-0.5deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1.5deg);
    opacity: 0.2;
  }
  90% {
    -webkit-transform: translate(-3px, -3px) rotate(1.5deg);
    opacity: 0.3;
  }
}
@-o-keyframes shake-opacity {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
  10% {
    -webkit-transform: translate(-4px, 1px) rotate(-1.5deg);
    opacity: 0.1;
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-2.5deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: translate(-3px, -5px) rotate(-1.5deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translate(-5px, -2px) rotate(1.5deg);
    opacity: 0.4;
  }
  70% {
    -webkit-transform: translate(-1px, 3px) rotate(-0.5deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1.5deg);
    opacity: 0.2;
  }
  90% {
    -webkit-transform: translate(-3px, -3px) rotate(1.5deg);
    opacity: 0.3;
  }
}
@-ms-keyframes shake-opacity {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
  10% {
    -webkit-transform: translate(-4px, 1px) rotate(-1.5deg);
    opacity: 0.1;
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-2.5deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: translate(-3px, -5px) rotate(-1.5deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translate(-5px, -2px) rotate(1.5deg);
    opacity: 0.4;
  }
  70% {
    -webkit-transform: translate(-1px, 3px) rotate(-0.5deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1.5deg);
    opacity: 0.2;
  }
  90% {
    -webkit-transform: translate(-3px, -3px) rotate(1.5deg);
    opacity: 0.3;
  }
}
@-moz-keyframes shake-opacity {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
  10% {
    -webkit-transform: translate(-4px, 1px) rotate(-1.5deg);
    opacity: 0.1;
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-2.5deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: translate(-3px, -5px) rotate(-1.5deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translate(-5px, -2px) rotate(1.5deg);
    opacity: 0.4;
  }
  70% {
    -webkit-transform: translate(-1px, 3px) rotate(-0.5deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1.5deg);
    opacity: 0.2;
  }
  90% {
    -webkit-transform: translate(-3px, -3px) rotate(1.5deg);
    opacity: 0.3;
  }
}
@-webkit-keyframes shake-opacity {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.7;
  }
  10% {
    -webkit-transform: translate(-4px, 1px) rotate(-1.5deg);
    opacity: 0.1;
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-2.5deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: translate(-3px, -5px) rotate(-1.5deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: translate(-5px, -2px) rotate(1.5deg);
    opacity: 0.4;
  }
  70% {
    -webkit-transform: translate(-1px, 3px) rotate(-0.5deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1.5deg);
    opacity: 0.2;
  }
  90% {
    -webkit-transform: translate(-3px, -3px) rotate(1.5deg);
    opacity: 0.3;
  }
}
@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-o-keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-ms-keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-moz-keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(6.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
/**
 * Import general stylings (global)
 */
/* line 1, ../scss/general/_body.scss */
body {
  height: 100%;
}

/* line 3, ../scss/general/_colors.scss */
span.dark-gray {
  color: #2e2e2e;
}
/* line 8, ../scss/general/_colors.scss */
span.light-gray {
  color: #BABABA;
}
/* line 13, ../scss/general/_colors.scss */
span.white {
  color: white;
}
/* line 18, ../scss/general/_colors.scss */
span.violett {
  color: #7C0E9C;
}
/* line 23, ../scss/general/_colors.scss */
span.dark-red {
  color: #9C0000;
}

/* line 1, ../scss/general/_html.scss */
html {
  height: 100%;
}

/* line 1, ../scss/layout/_default.scss */
body {
  background: #7C0E9C;
}

/* line 5, ../scss/layout/_default.scss */
.default-screen {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
/* line 14, ../scss/layout/_default.scss */
.default-screen .inner-wrapper {
  background: #f1f1f1;
  font-family: Arial;
  color: #2e2e2e;
  padding: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-animation: shake-rotate 0.4s;
  -webkit-animation: shake-rotate 0.4s;
  animation: shake-rotate 0.4s;
}
/* line 24, ../scss/layout/_default.scss */
.default-screen h1 {
  font-size: 26px;
  padding-bottom: 20px;
  color: #7C0E9C;
  margin-bottom: 20px;
  border-bottom: 1px solid #7C0E9C;
}
/* line 32, ../scss/layout/_default.scss */
.default-screen p {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
}
/* line 39, ../scss/layout/_default.scss */
.default-screen .command {
  display: block;
  padding: 10px;
  background: black;
  color: white;
  font-size: 12px;
  line-height: 15px;
  font-family: "Consolas", serif;
}
