.file-preview {
	.file {
		.path {
			color: $white;
		}

		.lines {
			display: block;
			margin-top: 10px;
			padding: 0 0 0 20px;
			border-left: 3px solid $darkGray2;
		}
	}

	.line {
		display: block;
		color: $lightGray;

		td {
			padding: 3px;
		}
	}

	.line.highlight {
		background: $violett;
		color: $white;
	}
}