@font-face {
    font-family: 'OpenSans regular';
    src: url('../../fonts/OpenSans/regular/OpenSans-Regular-webfont.eot');
    src: url('../../fonts/OpenSans/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../fonts/OpenSans/regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans/regular/OpenSans-Regular-webfont.svg#open_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans light';
    src: url('../../fonts/OpenSans/light/OpenSans-Light-webfont.eot');
    src: url('../../fonts/OpenSans/light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/light/OpenSans-Light-webfont.woff') format('woff'),
         url('../../fonts/OpenSans/light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans/light/OpenSans-Light-webfont.svg#open_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans bold';
    src: url('../../fonts/OpenSans/bold/OpenSans-Bold-webfont.eot');
    src: url('../../fonts/OpenSans/bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../fonts/OpenSans/bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans/bold/OpenSans-Bold-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}